#about_us {    
    background-color: yellow;  
}

.wiersz {
    display: inline;
}

#kwadrat1 {
    background-color: brown;
    width: 25%;
    height: 400px;
    float: left;
}
   
#kwadrat2 {
    background-color: lightblue;
    width: 25%;
    height: 400px;
    float: left;
}
 
#kwadrat3 {
    background-color: lightgreen;
    width: 25%;
    height: 400px;
    float: right;
}
 
#kwadrat4 {
    background-color: yellowgreen;
    width: 25%;
    height: 400px;
    float: right;
}

.kolumna {
    display: block;
}

#kwadrat5 {
    border-style: solid;
    border-color: coral;
    width: 400px;
    height: 400px;
}
   
#kwadrat6 {
    border-style: solid;
    border-color: grey;
    width: 400px;
    height: 400px;
}
 
#kwadrat7 {
    border-style: solid;
    border-color: green;
    width: 400px;
    height: 400px;
}
